.main-container{
    display: flex;

}

.model-master-table{
   margin-top: 40px;
   width: 20%;
}

.content{
    margin-left: 20px;
}

th{
    background-color: #fcdca6 !important;
}

@media screen and (max-width:500px) {
    .main-container{
        display: flex;
        width:99vw;
        overflow: scroll;
        padding-right: 10px;
        
        /* border: 1px solid red; */
    
    }
    .content{
        margin-left: 10px;
    }
    
    .model-master-table{
        margin-top: 40px;
        width: 80%;
     }
}

